<nav class="navbar">
	<a href="{{path('app_quote')}}" class="nes-badge">
		<span class="is-dark">Inicio</span>
	</a>
	<a href="{{path('app_quote_list')}}" class="nes-badge">
		<span class="is-primary">Quotes</span>
	</a>
	<a href="{{path('app_user_list')}}" class="nes-badge">
		<span class="is-warning">Usuarios</span>
	</a>
	<div class="logo">
		<h2># Random Quotes</h2>
		<p>Daniel Bayarri</p>
	</div>
	<a href="{{path('app_login')}}" class="nes-badge">
		<span class="is-success">Log In</span>
	</a>
	<a href="{{path('app_logout')}}" class="nes-badge">
		<span class="is-error">Log Out</span>
	</a>

	<a href="/" class="nes-badge is-splited ">
		<span class="is-dark">DAW</span>
		<span class="is-primary">Server</span>
	</a>
</nav>
